version: "4.37.1"

services:
  agent:
    build:
      context: ./agent
      dockerfile: Dockerfile
    environment:
      MONGO_URI: mongodb://root:example@mongo:27017/
    volumes:
      - ./agent:/app
    ports:
      - "5000:5000"
      - "5678:5678"
    stdin_open: true
    tty: true

  mongo:
    image: mongodb/mongodb-community-server:8.2.0-ubi8
    container_name: bea-mongo
    #restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
